name: Generate - Zap Scan

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment to run scan against'
        required: true
        default: 'Test'
        options:
          - 'Test'
          - 'Staging'
          - 'Production'

run-name: Running ZAP scan against ${{ github.event.inputs.environment }}
jobs:
  zap_scan:
    name: 'Run Zap Scan'
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
    steps:
      - name: 'Checkout source'
        uses: actions/checkout@v5

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          creds: |
            {
                "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
                "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
                "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
                "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: Get Azure Frontdoor URL
        run: |
          FRONTDOOR_URL=$(az afd custom-domain list -g s186${{ vars.ENVIRONMENT_PREFIX }}-cl-web-rg --profile-name s186${{ vars.ENVIRONMENT_PREFIX }}-cl-web-fd-profile | jq -r '.[0].hostName')
          echo "FRONTDOOR_URL=$FRONTDOOR_URL" >>${GITHUB_ENV}

      - name: 'Running ZAP scan against https://${{ env.FRONTDOOR_URL }}'
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'https://${{ env.FRONTDOOR_URL }}'
          rules_file_name: 'src/rules.tsv'
          cmd_options: "-a -z '-c src/zapscan.options"
          allow_issue_writing: 'false'

      - name: Commit and Push Report
        run: |
          mv report_md.md docs/scans/Security-Scan-Report.md
          git add docs/scans/Security-Scan-Report.md
          git config --global user.name "Documentation Bot"
          git config --global user.email "documentation-bot-bot@users.noreply.github.com"
          git commit -am "Generated zap scan report"
          git push
        continue-on-error: true